@{
    ViewData["Title"] = "Book Sent";
}

<div class="container text-center my-3">
    <h2 class="text-white mb-3">Thank you for choosing us.</h2>
    <img src="~/images/BookSent/01.jpg" width="100%" style="height: 75vh"/>
</div>